/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

body {
  font-family: "Roboto" !important;
}
* {
    margin: 0;
    padding: 0;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
body {
    overflow: hidden;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .textPadding {
      padding: 0 5px;
  }

  .col-md-1,.col-md-2, .col-md-3, .col-md-4,.col-md-5,.col-md-6, .col-md-7, .col-md-8,.col-md-9,.col-md-10, .col-md-11, .col-md-12 {
    padding: 0 5px !important;
  }

  .cursor {
      cursor: pointer;
  }

  .dataBaseError {
    min-height: 100px;
    width: 100%;
    color: #E80606;
    margin: 15px 0;
}

.padding {
    padding: 15px;
}
  
/* .dropdown-menu {
    text-align: center;
} */
/* body {
    width: 100%;
} */