<div class="row">
        <div class="col-md-7">
            <div class="overView">
                <div class="overViewHeading">
                    <div class="title">OVERVIEW</div>
                   <!--  <div class="date">{{date | date:'MMMM d, y, h:mm:ss zzzz'}}</div> -->
                </div>
                <div class="overViewBody">
                      <div class="contentContainer projectBuild">
                          <div class="buildNumber">{{overViewDetails?.total_projects}}</div>
                          <div class="buildDescription">Projects</div>
                      </div>
                      <div class="contentContainer currentBuild">
                              <div class="buildNumber">{{overViewDetails?.current_builds}}</div>
                              <div class="buildDescription">Current Builds</div>
                      </div>
                      <div class="contentContainer failedBuild">
                              <div class="buildNumber">{{overViewDetails?.failed_builds}}</div>
                              <div class="buildDescription">Failed Builds</div>
                      </div>
                      <div class="contentContainer deployed">
                          <div class="buildNumber">{{overViewDetails?.deployed}}</div>
                          <div class="buildDescription">Deployed</div>
                      </div>
                      <div class="contentContainer releasedContainer">
                          <div class="buildNumber">{{overViewDetails?.release_version}}</div>
                          <div class="buildDescription">Released Version</div>
                          <!-- <div class="buildDescription">{{date | date: 'dd/MM/yyyy'}}</div> -->
                      </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
          <div class="overView">
              <div class="overViewHeading">
                  <div class="title">Vulnerabilities</div>
                 <!--  <div class="date">{{date | date:'MMMM d, y, h:mm:ss zzzz'}}</div> -->
              </div>
              <div class="overViewBody">
                      <div class="vulneraBodyContainer critical">
                          <div class="buildNumber">{{vulnerabilitiesData?.critical}}</div>
                          <div class="buildDescription">Critical</div>
                      </div>
                      <div class="vulneraBodyContainer major">
                              <div class="buildNumber">{{vulnerabilitiesData?.major}}</div>
                              <div class="buildDescription">Major</div>
                      </div>
                      <div class="vulneraBodyContainer minor">
                              <div class="buildNumber">{{vulnerabilitiesData?.minor}}</div>
                              <div class="buildDescription">Minor</div>
                      </div>
                      <div class="vulneraBodyContainer info">
                          <div class="buildNumber">{{vulnerabilitiesData?.info}}</div>
                          <div class="buildDescription">Info</div>
                      </div>
                </div>
          </div>
        </div>
    </div>
