.overView {
    background-color: #ffffff;
    height: 400px;
    padding: 15px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #8C94A51A;
    border-radius: 6px;
}
.overViewHeading {
    height: 45px;
    line-height: 45px;
}
.title {
    float: left;
}

.contentContainer {
   width: 19%;
}
.projectBuild {
    color: #5e5e5e;
}
.currentBuild, .info_pdVul {
    color: skyblue;
}
.failedBuild, .critical_pdVul {
    color: #f94667;
}
.deployed, .minor_pdVul {
    color: green;
}
.releasedContainer, .major_pdVul {
    width: 24%;
    color: #ff9200;
}

.overViewBody {
  display: flex;
  height: 290px;
}
.buildNumber {
    font-size: 32px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.buildDescription {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

.vulneraBodyContainer {
    width: 25%;
}

.tableheader {
    font-weight: 900;
    font-size: 16px;
    padding: 5px;
}
.rowBoby {
    padding: 5px;
}
.underline {
    border-bottom: 1px solid black;
}
.noPaddingRight {
    padding-right: 0;
}
.noPaddingLeft {
    padding-left: 0;
}