<div class="overView">
    <div class="overViewHeading">
        <div class="title"><h3>Vulnerabilities</h3></div>
    </div>
    <div class="overViewBody">
        <div class="vulneraBodyContainer critical_pdVul">
            <div class="buildNumber">{{vulnerabilitiesData?.critical}}</div>
            <div class="buildDescription">Critical</div>
        </div>
        <div class="vulneraBodyContainer major_pdVul">
                <div class="buildNumber">{{vulnerabilitiesData?.major}}</div>
                <div class="buildDescription">Major</div>
        </div>
        <div class="vulneraBodyContainer minor_pdVul">
                <div class="buildNumber">{{vulnerabilitiesData?.minor}}</div>
                <div class="buildDescription">Minor</div>
        </div>
        <div class="vulneraBodyContainer info_pdVul">
            <div class="buildNumber">{{vulnerabilitiesData?.info}}</div>
            <div class="buildDescription">Info</div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6 noPaddingRight">
            <div class="tableheader underline">Name</div>
            <div *ngFor="let project of projects" class="rowBoby underline">{{project.name}}</div>
        </div>
        <div class="col-md-6 noPaddingLeft">
            <div class="tableheader underline">Number Of Repititions</div>
            <div *ngFor="let project of projects" class="rowBoby underline">{{project.releaseDate}}</div>
        </div>
    </div> -->
</div>
