<div class="upComingRleaseWidget">
    <div class="upComingRleaseWidHeader">
        <div>Upcoming Releases</div>
    </div>
    <div class="loader" *ngIf="isLoading"></div>
    <div *ngIf="!isLoading && error" class="dataBaseError"> No Data from Database</div>
    <div class="upComingRleaseWidBody" *ngIf="!isLoading  && !error">
        <div class="upComingRleaseCardsContainer" *ngIf="upComingRleaseProjectsTotal.length < 4">
            <div class="upComingRleaseCards" [style.width.%]="100 / upComingRleaseProjects.length" *ngFor="let project of upComingRleaseProjects" (click)="setTheCard(project)" [ngClass]="{'selectedProject toolTipUPCR' : (project?.name == selectedProjectName) }">
                <div class="projectName">{{project?.name}}</div>
                <div ><span class="projectUPRLabels clearfix">Release Date : </span><span class="projectUPRvalue">{{project?.releasedate }}</span></div>
                <div>
                    <span class="projectUPRLabels clearfix">CIA Rating : </span>
                    <span class="projectUPRvalue">
                        {{project?.ciarating}}
                    </span>
                </div>
            </div>
        </div>
        <div class="upComingRleaseCardsContainer" *ngIf="upComingRleaseProjectsTotal.length  > 3">
            <div class="upComingRleaseCards whiteBg"  [style.width.%]="5">
               <div class="arrowCenterAlign" *ngIf="currentStartIndex != 0"  (click)="changeProjects('previous')">
                   <img src="/assets/images/previous_enable.svg">
               </div>
               <div class="arrowCenterAlign" *ngIf="currentStartIndex == 0">
                    <img src="/assets/images/back.svg">
                </div> 
            </div>
            <div class="upComingRleaseCards" [style.width.%]="90 / upComingRleaseProjects.length" *ngFor="let project of upComingRleaseProjects; let i = index" (click)="setTheCard(project, i)" [ngClass]="{'selectedProject toolTipUPCR' : (project?.name == selectedProjectName) }">
                <div class="projectName">{{project?.name}}</div>
                <div ><span class="projectUPRLabels clearfix">Release Date : </span><span class="projectUPRvalue ">{{project?.releasedate }}</span></div>
                <div>
                    <span class="projectUPRLabels clearfix">CIA Rating : </span>
                    <span class="projectUPRvalue">
                        {{project?.ciarating}}
                    </span>
                </div>
            </div>
            <div class="upComingRleaseCards whiteBg"  [style.width.%]="5">
                <div class="arrowCenterAlign" *ngIf="(currentStartIndex + 3) == upComingRleaseProjectsTotal.length">
                        <img src="/assets/images/next_disable.svg">
                </div>
                <div class="arrowCenterAlign" *ngIf="(currentStartIndex + 3) != upComingRleaseProjectsTotal.length" (click)="changeProjects('next')">
                        <img src="/assets/images/next.svg">
                </div> 
            </div>
        </div>
    
    
        <div class="wigetMargin cursor" (click)="goToProjectDetailsPage()">
            <div class="upCReleaseColumn1 graphContainer" [style.height.px]="secVulGraphContainerHeight" *ngIf="vulnerableTypes.length > 0 && !noSecVulChart">
                <div class="secVulnerabHeader">Security Vulnerabilities</div>
                        <ngx-charts-bar-horizontal
                        [customColors]="customColors"
                        [results]="vulnerableTypes"
                        [gradient]="gradient"
                        [barPadding]="secVulnerableBarPadding"
                        [showGridLines]="true"
                        [xAxis]="true"
                        [yAxis]="true"
                        [xAxisTicks]="secVulnerableXAXISTICKS"
                        [trimYAxisTicks]="true"
                        [maxYAxisTickLength]="16"
                        [xAxisLabel]="''"
                        [yAxisLabel]="''"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="false">
                    </ngx-charts-bar-horizontal>
                    <ul class="UPRnorderedList" >
                        <li class="square critical"></li>
                        <li class="UPRlabelText">Critical</li>
                        <li class="square major"></li>
                        <li class="PLlabelText">Major</li>
                        <li class="square minor"></li>
                        <li class="PLlabelText">Minor</li>
                    </ul>
            </div>
            <div class="upCReleaseColumn1 graphContainer" *ngIf="noSecVulChart">
                <div class="secVulnerabHeader">Security Vulnerabilities</div>
                <div *ngIf="noSecVulChart" class="noDataSecVulnerabilities">
                    No Security Vulnerabilities
                </div>
            </div>
            
            
            <div class="upCReleaseColumn2">
                <div class="secVulnerabHeader">Defects</div>
                <div class="defectsContainer" *ngIf="bugsData.length > 0 && !noPieChart">
                        <ngx-charts-pie-chart
                        [scheme]="defectsColorScheme"
                        [view]= "[180, 150]"
                        [results]="bugsData"
                        [legend]="true"
                        [legendPosition]="'below'"
                        [legendTitle]="''"
                        [explodeSlices]="false"
                        [labels]="showLabels"
                        [doughnut]="true"
                        [gradient]="gradient"
                        [arcWidth]= "0.35"
                        (select)="onSelect($event)">
                    </ngx-charts-pie-chart>
                </div>
                <div *ngIf="noPieChart" class="nodefectsContainer">
                    No Defects .
                </div>
                

                <div class="secVulnerabHeader">Code Smells</div>
                <div class="codeSmellContainer" *ngIf="codeSmellValue.length > 0 && !noCodeSmellChart">
                        <ngx-charts-pie-chart
                        [scheme]="codeSmellColorScheme"
                        [view]= "[180, 150]"
                        [results]="codeSmellValue"
                        [legend]="false"
                        [labelFormatting]="setLabelFormatting"
                        [legendPosition]="'below'"
                        [legendTitle]="''"
                        [explodeSlices]="false"
                        [labels]="showLabels"
                        [doughnut]="true"
                        [gradient]="gradient"
                        [arcWidth]= "0.35"
                        (select)="onSelect($event)">
                    </ngx-charts-pie-chart>
                    <ul class="UPRnorderedList noMargin" >
                        <li class="square critical"></li>
                        <li class="UPRlabelText">Critical</li>
                        <li class="square major"></li>
                        <li class="PLlabelText">Major</li>
                    </ul>
                    <ul class="UPRnorderedList noMargin" >
                        <li class="square minor"></li>
                        <li class="PLlabelText">Minor</li>
                        <li class="square info"></li>
                        <li class="PLlabelText">Info</li>
                    </ul>
                </div>
                <div *ngIf="noCodeSmellChart" class="codeSmellContainer">
                    No Code Smells.
                </div>
               <!--  <div class="defectsContainer" *ngIf="codeSmellValue.length > 0">
                         <ngx-charts-gauge
                            [view]="view"
                            [scheme]="colorScheme"
                            [view]= "[150, 100]"
                            [results]="codeSmellValue"
                            [units]="'Total'"
                            [max]="0"
                            [showAxis] = "false"
                            [smallSegments] = '0'
                            [bigSegments]="0"
                            [legend]="false"
                            [legendPosition]="'below'"
                            >
                        </ngx-charts-gauge> 
                </div> -->
                
            </div>

            <div class="upCReleaseColumn3 graphContainerTO" *ngIf="testOptimizedChartData.length > 0">
                    <div class="secVulnerabHeader">Test Optimization</div>
                    <ngx-charts-area-chart-stacked
                    [scheme]="testOptimizedColorScheme"
                    [results]="testOptimizedChartData"
                    [gradient]="gradient"
                    [xAxis]="true"
                    [yAxis]="true"
                    [legend]="true"
                    [legendTitle]="''"
                    [legendPosition]="below"
                    [showXAxisLabel]="false"
                    [showYAxisLabel]="false"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
                  </ngx-charts-area-chart-stacked>
            </div>

        </div>
    </div>
    </div>


