.prjDtlPage {
    padding: 15px;
    font-size: 16px;
    text-align: left;
    font: Medium 16px/40px Roboto;
    letter-spacing: 0;
    color: #373640;
    opacity: 1;
}
.prjDtlTitle{
    padding: 0 5px;
    font-size: 16px;
    text-align: left;
    font: Medium 16px/40px Roboto;
    letter-spacing: 0;
    color: #373640;
    opacity: 1;
}
.wigetMargin {
    margin: 10px 0;
}
.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;
    
    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
}
/* .openModalCss {
    position: absolute;
    width: 90%;
    margin: 0 5%;
    border-radius: 6px;
    height: calc(100vh - 120px);
    top: 60px;
    background-color: #ffffff;
    z-index: 1000;
} */