.projectsLiveWidget{
    background-color: white;
    width:100%;
    height: 600px;
    padding:10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #8C94A51A;
    border-radius: 6px;
}
.prjLiveHeader {
    height: 40px;
    font-size: 15px;
    text-align: left;
    font: Regular 15px/40px Roboto;
    letter-spacing: 0;
    color: #373640;
}

.timelinePrjBox {
    height: 100%;
    text-align: left;
}
.prjNamePadding {
    padding: 0 5px;
}
.textInTimeLineBoxPL {
    position: relative;
    top: 50%;
    transform: translateY(-20%);
    word-break: break-all;
    padding: 0 5px;
    font-size: 12px;
    text-align: right;
    font: Regular 12px/13px Roboto;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
}

.prjNameWidth {
    width: 40%;
    display: inline-block;
}
.titleLegend {
    width: 30%;
    display: inline-block;
}
.dataWidth {
    width: 70%;
    display: inline-block; 
}
.sprintClass {
    width: 100px;
    margin: 0 auto;
}
.paddingBtwProjects {
    padding: 10px;
}
.PLnorderedList {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    li {
        display: inline-block;
        padding: 0 5px;
    }
}
.PLlabelText {
    padding: 0 10px !important;
    color: #4D4F5C;
    text-align: left;
    font-size: 12px;
    font: Regular 10px/20px Roboto;
    letter-spacing: 0;
    color: #4D4F5C;
    vertical-align: top;
}

.sprintLine{
    display: inline-grid;
}
.stageName {
    padding: 5px;
    font-size: 12px;
    text-align: center;
    word-break: break-word;
    color: #4D4F5C;
}
.leftLine {
    position:relative;
    background-color: #DCDCE5;
    width: 100%;
    height: 2px;
    line-height: 2px;
    margin-bottom: 7px;
    display: inline-block;
    /*right: -2px;*/
  /*right: -2px;*/
}
.projectLine{
    display:inline-block;
    vertical-align: top;
}
.dot {
    height: 15px;
    width:  15px;
    /*border: 2px solid black;*/
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
.rightLine {
    position:relative;
    background-color: #DCDCE5;
    width: calc(50% - 8px);
    height: 2px;
    line-height: 1px;
    margin-bottom: 7px;
    display: inline-block;
    /*right: -2px;*/
  /*right: -2px;*/
}
.topLine {
    position:relative;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    background-color: #DCDCE5;
    width:50%;
    height: 2px;
    line-height: 1px;
    margin-bottom: 7px;
    display: inline-block;
    /*right: -2px;*/
  /*right: -2px;*/
}
.bottomLine {
    position:relative;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    background-color: #DCDCE5;
    width:100%;
    height: 2px;
    line-height: 1px;
    margin-bottom: 7px;
    display: inline-block;
    /*right: -2px;*/
  /*right: -2px;*/
}

.deployed {
    background-color: #79C450;
}
.notDeployed {
    background-color: #F06293;
}
.timelineBoxPL {
    min-height: 10px;
    border-left: 2px solid  #5A5A5A;
    height: 100%;
    text-align: center;
}
/* .tooltipBG {
    background-color: #DCDCE5 !important;
    color: #79C450 !important;
} */
.square {
    height: 15px;
    width:  15px;
    display: inline-block;
}