<div class="mainDashboard">
    <div class="row wigetMargin">
        <div class="col-md-7">
            <app-security-vulnerability></app-security-vulnerability>
        </div>
        <div class="col-md-3">
            <app-codesmell></app-codesmell>
        </div>
        <div class="col-md-2">
            <app-security-policy-compliance (openModal)="openModalDialog($event)"></app-security-policy-compliance>
        </div>
        <!-- <div class="col-md-8">
            <app-security-vulnerability></app-security-vulnerability>
        </div>
        <div class="col-md-4">
            <app-codesmell></app-codesmell>
        </div> -->
    </div>

    <div class="row wigetMargin">
        <div class="col-md-4 width30">
            <app-project-live></app-project-live>
        </div>
        <div class="col-md-8 width70">
            <app-upcoming-releases></app-upcoming-releases>
        </div>
    </div>
  <div class="row wigetMargin">
    <div class="col-md-12">
        <app-dev-ops-pipe-line></app-dev-ops-pipe-line>
    </div>
  </div>

  <!-- <div class="row wigetMargin">
      <div class="col-md-6">
            <app-test-optimization></app-test-optimization>
      </div>
      <div class="col-md-6">
          <app-top-vulnerable-projects></app-top-vulnerable-projects>
      </div>
  </div> -->

  <!-- <div class="row wigetMargin">
        <div class="col-md-6">
              
        </div>
        <div class="col-md-6">
            <app-top-succesful-projects></app-top-succesful-projects>
        </div>
    </div>

    <div class="row wigetMargin">
        <div class="col-md-12">
                <app-overview></app-overview>
        </div>
    </div> -->

</div>
<div class="modal-background" *ngIf="isModalOpen"></div>
<app-modal-dialog *ngIf="isModalOpen" class="openModalCss" [inputData]="modalInputData" (modalDialogClose)="closeModalDialog()"></app-modal-dialog>
