
.buildInfoContainer {
    background-color: #ffffff;
    padding: 15px;
    min-height: 180px;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #8C94A51A;
    border-radius: 6px;
}
.buildNumber {
    font-size: 32px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.buildDescription {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}
.buildInfoBlock{
    width: 50%;
    float: left;
    height: 140px;
}
.buildInfoCol {
    width: 33%;
    float: left;
}
.currentVersionInfo {
    background-color: #d8d8d8;
    margin: 0;
    border-radius: 5px;
}
.curVerRightCol {
    width: 70%;
    float: left;
}
.curVerLeftCol {
    width: 30%;
    float: left;
}
.currentVersionRows,.projectDetailRows {
    padding: 2px;
}
.curVersionText {
  font-size: 14px;
}
.curVersionNumber {
  font-size: 32px;
  margin: 10px 0;
  text-align: center;
}
.verDetContainer {
    height: 100%;
}
.verDetContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}
.horzPadding {
    padding: 0 10px;
}