<div class="row">
<div class="col-md-8">
    <div class="buildInfoContainer">
    <div class="buildInfoBlock">
        <div>Total Builds</div>
        <div class="buildInfoCol">
            <div class="buildNumber">{{buildData?.builds}}</div>
            <div class="buildDescription">Builds</div>
        </div>
        <div class="buildInfoCol">
                <div class="buildNumber">{{buildData?.passed}}</div>
                <div class="buildDescription">Passed</div>
        </div>
        <div class="buildInfoCol">
                <div class="buildNumber">{{buildData?.failed}}</div>
                <div class="buildDescription">Failed</div>
        </div>
    </div>
    <div class="buildInfoBlock currentVersionInfo">
        <div class="curVerLeftCol verDetContainer">
            <div class="verDetContent">
                <div class="curVersionText">Current Version</div>
                <div class="curVersionNumber">{{buildData?.current_version}}</div>
            </div>  
        </div>
        <div class="curVerRightCol" >
            <div *ngFor="let obj of currentVersionKeys" class="currentVersionRows">
                <span class="horzPadding">{{obj?.displayName}}</span>  : <span *ngIf="buildData" class="horzPadding">
                    <span *ngIf="!obj?.isDate">{{buildData[obj?.key]}}</span>
                    <span *ngIf="obj?.isDate">{{buildData[obj?.key] | date : 'medium'}}</span>
                </span> 
            </div>
        </div>                       
    </div>
    </div>
</div>
<div class="col-md-4">
    <div class="buildInfoContainer">
        <h4>Project Details: {{projectName}}</h4>
        <div *ngFor="let obj of projectDetailObj" class="projectDetailRows">
           <span class="horzPadding">{{obj?.displayName}}</span>  : <span class="horzPadding" *ngIf="projectDetails">{{projectDetails[obj?.key]}}</span> 
        </div>
    </div> 
</div>
</div>
