.codeSmellwidget {
    background-color: #ffffff;
    height: 350px;
  // height: auto;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #8C94A51A;
    border-radius: 6px;
    
}
.codeSmellWidBody {
  width: 100%;
  height: auto;
  background-color: #ffffff;
 // padding: 15px;
}
.codeSmellsWidHeader {
    height: 20px;    
    line-height: 20px;
    padding: 15px;
    font: Regular 15px/40px Roboto;
    margin-bottom: 15px;
    letter-spacing: 0;
    color: #373640;
    letter-spacing: 0;
   // color: #373640;
    background-color: #ffffff; 
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.padding {
    padding: 15px;
}


.codeSmellTabContainer {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid grey;
    text-align: left;
    font: Medium 13px/40px Roboto;
    font-size: 13px;
    letter-spacing: 0;
    color: #000000;
}
.codeSmellUL {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        width: 50%;
    }
}
.tabBody {
    background-color: #8C94A51A;
    color: #697780;
   
}
.active {
    border-bottom: 1px solid  #52AAF7;
    bottom: 1px;
    position: relative;
    color: #000000;
    background-color: #ffffff;
}

.tableHeaderPR {
    font-size: 12px;
    padding: 4px 0;
    font: Regular 10px/40px Roboto;
    letter-spacing: 0;
  //  color: #4D4F5C;
    opacity: 1;
}
.rowBobyPrjRisk {
    border: 1px solid #DCDCE5;
    border-radius: 4px;
   // font-size: 12px;
    padding: 10px;
    font: Regular 12px/40px SF Compact Display;
    letter-spacing: 0;
    color:  #43425D;;
    opacity: 1;
    font-size: 13px;
}
.widthLeftPR {
    width: 60%;
    word-break: break-word;
    text-align: left;
}
.widthRightPR {
    width: 40%;
    word-break: break-word;
    text-align: right;
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.rowBobyPrjRisk:nth-child(even) {
    background: #F7F7F7;
  }

  .table {
      margin: 20px 0;
  }

  .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    margin-left: -40px;
    border-width: 6px;
    border-style: solid;
    border-color: #52AAF7 transparent transparent transparent;
  }
.projectNameColor{
    color: #0088FF;;
    cursor: pointer;
}
.codeSmellTableContainer {
    padding: 0 15px;
    height: 260px;
    overflow: auto;
}