<div class="codeSmellwidget">
    <div class="codeSmellsWidHeader">
        <div>Code Quality</div>
    </div>
    <div class="codeSmellWidBody" *ngIf="!isLoading">
        <div class="codeSmellTabContainer">
            <ul class="codeSmellUL">
                <li class="tabBody" [ngClass]="{'active tooltiptext': (selectedCard == 'code_smell') }" (click)="setTheTab('code_smell')"> Code Smells  ({{totalCount['code_smell']}})</li>
                <li class="tabBody" [ngClass]="{'active tooltiptext': (selectedCard == 'bugs') }" (click)="setTheTab('bugs')">  Defects  ({{totalCount['bugs']}})</li>
            </ul> 
        </div>
        <div *ngIf="error " class="dataBaseError padding"> No Data from Database</div>
        <div class="codeSmellTableContainer" *ngIf="!error ">
            <div class="table">
                <div class="tableHeaderPR clearfix">
                    <div class="pull-left widthLeftPR">Project Name</div>
                    <div class="pull-right widthRightPR">{{displayName[selectedCard]}}</div>
                </div>
                <div class="tableBoby clearfix" *ngIf="top3CritcalProject[selectedCard].length > 0">
                    <div class="rowBobyPrjRisk clearfix" *ngFor="let project of top3CritcalProject[selectedCard]">
                        <div class="pull-left widthLeftPR projectNameColor" (click)="goToProjectDetailsPage(project)">{{project?.project}}</div>
                        <div class="pull-right widthRightPR">{{project?.count}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="loader" *ngIf="isLoading"></div> 
</div>
     
