<div class="systemBar">
  <div class="row">
    <div class="col-md-6 appTitleContainer">
      <div class="appTitle">
        <img src="/assets/images/logo_devsecops.png" [ngClass]='{"Cursor": isLogedIn() && isDetailsPage}' (click)="goToDashBoard()">
      </div> 
    </div>
    <div class="col-md-6" *ngIf="isLogedIn()">
      <div class="pull-right sysBarLIstElement Cursor" (click)="logout()">
        <img src="/assets/images/logout.svg">
          <span class="textPadding">Logout</span>
      </div>
      <div class="sysBarLIstElement userContainer">
        <div class="userCol">
            <div class="userText">Srinivas</div>
            <div class="userDesignation">Program Manager</div>
        </div>
          <div class="userCol">
              <img src="/assets/images/user.png">
          </div>
      </div>
      <!-- <div class="dropdown pull-right drpDwnBtn">
          <div class="dropdown-toggle" (click)="openDropdown()">
            <span >{{getProjectName()}}</span>
          <span class="caret"></span></div>
          <ul class="dropdown-menu" [ngClass] = "{'openDropdown' : expandDropDown}">
              <li class="dropDownItem" *ngFor="let projectName of projectsArray" (click)="goToProjectDetailsPage(projectName)">{{projectName}}</li>
          </ul>
      </div> -->
    </div>  
  </div>
</div>
<div class="mainContent">
    <router-outlet></router-outlet>
</div>