<div class="widget">
        <div class="widgetHeader">
            <h3>Test Optimization</h3>
        </div>
        <div *ngIf="error" class="dataBaseError"> No Data from Database</div>
        <div class="widgetBody" *ngIf="chartData?.length > 0 && !error">
           <!--  <ngx-charts-bar-horizontal
                [scheme]="colorScheme"
                [results]="chartData"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true">
            </ngx-charts-bar-horizontal> -->
            <ngx-charts-bar-vertical-2d
            [results]="chartData"
            [scheme]="colorScheme"
            [xAxis]="showLegend"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendPosition]= "'below'"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendTitle]="legendTitle">
        </ngx-charts-bar-vertical-2d>
        </div>
    </div>


    <!-- <ngx-charts-bar-vertical-2d
                [view]="view"
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [legendTitle]="legendTitle"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
            </ngx-charts-bar-vertical-2d> -->