<div class="pdInfoCardWidget">
    <div class="loader" *ngIf="isLoading"></div>
    <div *ngIf="!isLoading && error" class="dataBaseError"> No Data from Database</div>
    <div *ngIf="!isLoading && !error">
        <div class="pdInfoCard pdInfoBlue">
            <div class="pdInfoColumn">
                <div class="pdInfoContentContainer">
                    <div class="pdInfoLabel">CIA Rating</div>
                    <div class="pdInfoSMValue">
                        <!-- <star-rating [value]="projectRiskInCardData['CIA_Rating']" totalstars="5" checkedcolor="#FFB265" uncheckedcolor="grey" size="24px" readonly="true" ></star-rating> -->
                        {{projectRiskInCardData?.CIA_Rating}}
                    </div>
                </div>
            </div>
            <div class="pdInfoColumn">
                <div class="pdInfoContentContainer">
                    <div class="pdInfoLabel">Release Date</div>
                    <div class="pdInfoSMValue">
                        {{projectRiskInCardData?.releasedate}} 
                    </div> 
                </div>
            </div>
        </div>

        <div class="pdInfoCard pdInfoSkyBlue">
            <div class="pdInfoColumn">
                <div class="pdInfoContentContainer">
                    <div class="pdInfoLabel">Committed Features</div>
                    <div class="pdInfoValue">
                       {{projectRiskInCardData?.committedfeatures}} 
                    </div>
                </div>
            </div>
            <div class="pdInfoColumn">
                <div class="pdInfoContentContainer">
                    <div class="row">
                        <div class="col-md-8">Completed</div>
                        <div class="col-md-4">{{projectRiskInCardData?.completed}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">In-Progress</div>
                        <div class="col-md-4">{{projectRiskInCardData?.inprogress}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">Open</div>
                        <div class="col-md-4">{{projectRiskInCardData?.open}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pdInfoCard pdInfoRisk">
            <div class="pdInfoColumn">
                <div class="pdInfoContentContainer" >
                    <div class="pdInfoLabel">Field Issues Found</div>
                    <div class="pdInfoSMValue">
                      <img src="/assets/images/major.svg">  {{projectRiskInCardData?.fieldissues}}
                    </div>
                </div>
            </div>
            <div class="pdInfoColumn">
                <div class="pdInfoContentContainer">
                    <div class="pdInfoLabel">Technical Debt</div>
                    <div class="pdInfoSMValue">
                        {{projectRiskInCardData?.debts}}%
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ngClass]='{"cursor": (projectRiskInCardData?.fieldissues > 0) }'  -->