<div class="widget">
        <div class="widgetHeader">
           Build Status in DevSecOps Pipeline
        </div>
    
        <div class="widgetBody">
        <div *ngIf="error" class="dataBaseError"> No Data from Database</div>
          <div class="row">
              <div class="secondColumn">
                  <div class="topRow">
                    <div class="col-md-12 paddingBtwProjects" *ngFor="let project of buildHistory; let i = index">
                            <div *ngIf="i == 0 && buildHistory.length > 0" class="historyText">
                                <span class="buildTitle">Current Build</span>
                            </div>
                            <div *ngIf="i == 1 && buildHistory.length > 1" class="historyText">
                                <span class="buildTitle">Build History</span>
                            </div>
                            <div class="row">
                                <div class="blockWidth prjNamePadding">
                                    <div class="timelinePrjBox">
                                        <div class="titleFontSize">Build: {{project?.build_number}}</div>
                                        <div class="titleFontSize">{{project?.date}}</div>
                                    </div>
                                </div>
                                <div class="blockWidth" [style.width.%]="widthx" *ngFor="let stage of project?.stages">
                                    <div *ngIf="stage?.duration != null && stage?.name != 'Deploy'" class="timelineBox" [ngClass]="{'success':(stage?.status == 'SUCCESS'), 'failure': (stage?.status == 'FAILED')}">
                                        <div class="textInTimeLineBox">{{stage?.newduration}} 
                                                <div *ngIf="(stage?.status == 'IN_PROGRESS')"> In Progress </div>
                                        </div>
                                        
                                    </div>
                                    <div *ngIf="stage?.duration == null && stage?.name != 'Deploy'" class="timelineBox notExecuted" >
                                        <div class="textInTimeLineBox"></div>
                                    </div>
                                    <div class="timelineBox" *ngIf="stage?.name == 'Deploy'">
                                        <div class="textInTimeLineBox" >
                                            <img src="assets/images/pass.svg" *ngIf="(stage?.status == 'SUCCESS')">
                                            <img src="assets/images/fail.svg" *ngIf="(stage?.status == 'FAILED')">
                                            <div *ngIf="(stage?.status == 'IN_PROGRESS')"> In Progress </div>
                                        </div>
                                    </div>
                                                                                  
                                    <!-- <div class="timelineBox" >
                                        <div class="textInTimeLineBox">{{stage?.duration}} Sec</div>
                                    </div> -->
                                </div>
                                <!-- <div class="statusOfBuild prjNamePadding">
                                    <div class="timelinePrjBox" [ngClass]= "{'successBtn': (project?.status == 'SUCCESS'), 'failureBtn': (project?.status == 'FAILED'), 'inProgressBtn': (project?.status == 'IN_PROGRESS')}">
                                        <div class="textInTimeLineBox">{{project?.status}}</div>
                                    </div>
                                </div> -->
                                <!-- <div class="blockWidth" [style.width.%]="widthx" *ngIf="(project?.status == 'IN_PROGRESS')">
                                    <div class="timelineBox">
                                        <div class="textInTimeLineBox">
                                            <img src="assets/images/pass.svg" *ngIf="(project?.status == 'SUCCESS')">
                                            <img src="assets/images/fail.svg" *ngIf="!((project?.status == 'SUCCESS') || (project?.status == 'IN_PROGRESS'))">
                                            <span *ngIf="(project?.status == 'IN_PROGRESS')"> In Progress </span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>               
                        </div>
                  </div>
                
                <div class="col-md-12 marginForwholeStages">
                    <div class="row">
                        <div class="blockWidth">                           
                        </div>
                        <div class="blockWidth noPadding" [style.width.%]="widthx" *ngFor="let stage of buildStages">
                            <div class="timeLinecontainer">
                                <div class="topPart">
                                    <div class="leftLine"></div>
                                    <span class="dot"></span>
                                    <div class="leftLine"></div>
                                </div>
                                <div class="bottomPart">
                                    {{stage}} 
                                </div>
                            </div>
                        </div>
                        <div class="statusOfBuild">
                        </div>
                    </div>               
                </div>
              </div>
          </div>  
        </div>
    </div>        
    