.bg-img{
    height: calc(100vh - 60px);
    background-image: url(../../assets/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.loginInputs {
    height: calc(100vh - 60px);
    background-color: #ffffff;
}

.loginInputsContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.errorFont {
    color: red;
}